In [1]:
import mlflow
import pandas as pd
import mlflow.sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import numpy as np

In [7]:
df = pd.read_csv('Twitter_Data.csv')
df = df.sample(500)
df.to_csv('data.csv', index=False)
df.head()

                                               clean_text  category
42615   biopic indian prime minister narendra modi spa...      -1.0
37886   here’ why nris support namo\ntop reasons suppo...       1.0
102140  modi has been good really printed new currency...       1.0
126986  just yrs assam under the leadership modi sonow...       1.0
48882   india tests antisatellite weapon asat establis...       1.0

In [15]:
import emoji

def clean_text(text):
    # 1. Convert to lowercase
    text = text.lower()
    
    # 2. Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)

    # 3. Remove mentions (@user)
    text = re.sub(r'@\w+', '', text)

    # 4. Remove hashtags (#hashtag) but keep the word
    text = re.sub(r'#', '', text)

    # 5. Remove emojis
    text = emoji.replace_emoji(text, replace='')

    # 6. Remove numbers
    text = re.sub(r'\d+', '', text)

    # 7. Remove special characters and punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # 8. Remove extra whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

def remove_stop_words(text):
    """Remove stop words from the text."""
    stop_words = set(stopwords.words("english"))
    text = [word for word in str(text).split() if word not in stop_words]
    return " ".join(text)

In [9]:
df['clean_text'] = df['clean_text'].apply(clean_text)

In [12]:
df['category'] = df['category'].apply(lambda x: int(x) if isinstance(x, float) and x.is_integer() else x)

In [16]:
df['category'] = df['category'].apply(remove_stop_words)

In [17]:
df.head()

                                               clean_text category
42615   biopic indian prime minister narendra modi spa...       -1
37886   here why nris support namo top reasons support...        1
102140  modi has been good really printed new currency...        1
126986  just yrs assam under the leadership modi sonow...        1
48882   india tests antisatellite weapon asat establis...        1